/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: "JetBrains Mono";
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  display: flex;
  background-color: #885D2E;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.right_two_thirds {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left_third {
  flex: 1.2;
}

/* .left_third>img { */
/*   height: 1200px; */
/* } */

.background_egg {
  position: absolute;
  inset-inline-start: 80px;
  inset-block-start: 180px;
  height: auto;
  max-width: 200px;
  background-color: grey;
  opacity: 0.4;
  display: flex;
}

.background_egg>p {
  color: white;
  font-size: 128px;
}

.right_middle_third {
  display: flex;
  flex-direction: column;
  background-color: #B09265;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.right_middle_third>p {
  padding-left: 60px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.08em;
}

.form {
  display: flex;
}

.first_name,
.email,
.password,
.last_name,
.phone_number,
.pass_confirm {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-bottom: 20px;
}

.right_bottom_third {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.create_account {
  width: 200px;
}
